body{
    font-family: "Arial";
}

.main-image{
    border: solid 10px black;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

.section-title{
    text-transform: capitalize;
}
